.appbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;

  a {
    color: var(--charcoal-dark);
    text-decoration: none;
    font-weight: bold;

    &.active {
      color: var(--blue-dark);
    }
  }
}
