h1 {
  text-align: center;
  color: var(--charcoal);
}

svg {
  background-image: conic-gradient(
    at calc(100% - 1px) calc(100% - 1px),
    var(--bone-light) 270deg,
    #ffffff 0
  );
  background-size: 10px 10px;
}
